  .snapshot-image-container{
    position: relative;
  height:0px;
  width:80%;
  padding-bottom: 80%;
  border: 2px solid blue;

  transition: all .2s ease-in-out;
  }
  .snapshot-container:hover{
        -webkit-box-shadow: 0 0 8px 4px rgb(191, 191, 191);
    -moz-box-shadow: 0 0 8px 4px rgb(191, 191, 191);
    box-shadow: 0 0 8px 4px rgb(191, 191, 191);
  }
  .snapshot-container{
    width: fit-content;
    height:30vh;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lower-snapshot-container{
    width:20vw;
    min-width: 35px;
    border: 2px solid red;
    margin-bottom: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
    font-size: 150%;
  }
.test{
  width: 100%;
  border: 4px solid greenyellow;
  height: 100%;
}