.ec-container{
  border: 2px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.expandable{
  display: flex;
}
.sub-cat-container{
  border: 2px solid blue;
  width: 60px;
}