.button{
  /* background-color: #CD4C1D; */
  /* background: var(--orange); */
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom:15px;
  height:fit-content;
  width:fit-content;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  outline:inherit;
  border: none;
  font-size: 15px;
  position: relative;
  z-index: 10;
 
}
.button:hover{
  cursor: pointer;
}

