.review-form-container{
  height: 77%;
  width: 85%;
    border-bottom: 1px solid rgb(157, 157, 157);
  position: relative;
  margin-left:8%;

}
.review-form-container > form  label :first-child{
color: #88260f;
}
.review-form-container > form {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  padding: 2%;
}




input[type='text']{
  height: 30px;
}

input[type='textarea']{
  height: 60px;
}

.review-form-container > form :last-child{
 align-self: center;
}
.form-stars-container{
  display: flex;

margin-left: none;
font-size: 20px;
}
.name-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 15%;
}