.nav-bar {
  width: 100vw;
  height: 10%;
margin-top: 1%;
  display: flex;
  align-items: center;
  background: transparent;
  position: absolute;
  z-index: 3;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
}
/* .nav-middle{
  width:50%;
  border:1px solid green;
} */

.nav-right div {
  /* border: 1px solid black; */
  position:relative;
  height: 50%;
  width: 5%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-right div:hover {
  cursor: pointer;
}

.nav-right :nth-child(4) {
  margin-right: 13%;
}

.nav-right div :first-child {
  font-size: 1rem;
}

.shop-wrapper {
  margin: 3%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.nav-left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(251, 66, 232); */
}


.title-wrapper {
  font-size: 2rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-left: min(180px,40%);
}
.hover-icon:hover{
  color: var(--orange)
}
i {
  transition: color .3s ease-in-out;
}
