.banner{
  width: 100vw;
height: 67%;
  margin-top: 0px;
  /* display: flex;
  align-items: center;
  text-align: center; */
  z-index: -1;
}
.banner img {
  position: absolute;
  width: 100%;
  opacity: .75;
 background: transparent no-repeat center;
 background-size: cover;
}

.page-title{
  color: white;
  font-family: 'roboto',sans-serif;
  font-weight: 900;
  font-size: 60px;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner > div {
background-image: radial-gradient(black,black);
position: absolute;
height: inherit;
width: inherit;
}