
.navigation-modal-page{
  display: flex;
  flex-direction: row;
  height: inherit;
  width:inherit;
}
#customer-support {
  border: 2px solid black;
   transform: rotate(270deg);
  height: fit-content;
  width: fit-content;
  margin-top: 90px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
}

