.modals-nav-bar {
  width: 100vw;
  height: 10%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 1;
}
.logo{

}

.x-icon{
/*   
  border: 2px solid red; */
  height: 30px;
 width:30px;
 margin-right: 8%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2rem;
 -webkit-box-shadow: 0 0 5px 2px rgb(219, 217, 217);
    -moz-box-shadow: 0 0 5px 2px rgb(219, 217, 217);
    box-shadow: 0 0 5px 2px rgb(219, 217, 217);
 
}