/* TODO Add site wide styles */
body, html, .app, #root {
  height: 100vh;
  top: 0;
  left: 0px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
    --orange: #CD4C1D;
}

.app{
  position:absolute;
}

a{
  text-decoration: none;
  color:inherit;
}
